name: "Hello world workflow"

on:
  push:
    branches:
      - master
      - main

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: "Print Hello World"
        run: echo "hello world"
