name: "Hello world workflow"

on:
  push:
    branches:
      - master
      - main
  schedule:
    - cron: "*/5 * * * *"

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: "Print Hello World"
        run: echo "hello world"

  on-schedule:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: "running on schedule"
        run: echo"Running on schedule"

